@font-face {
  font-family: DoppioOne;
  src: url(../fonts/DoppioOne-Regular.ttf);
}

a {
  color: black;
  text-decoration: none;
}
.header {
  width: 100%;
  height: 60px;
}

.header-box {
  text-align: center;
}
.p-header {
  margin: 20px;
  text-transform: uppercase;
  font-family: DoppioOne;
  display: inline-block;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s;
}

.p-header:hover {
  cursor: pointer;
  font-size: larger;
  margin: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.fullCol {
  height: 700px;
  background-color: #639560;
  transform: rotate(-6deg) scaleX(1.1) scaleY(0.6);
  box-shadow: 11px 15px 41px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px 15px 41px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 15px 41px -4px rgba(0, 0, 0, 0.75);
}

.fullCol:nth-child(2) {
  background-color: #639560;
  transform: rotate(2deg) scaleX(1.1) scaleY(0.6) translateY(-200px);
  position: relative;
  z-index: -10;
}

.fullCol:nth-child(3) {
  background-color: #639560;
  transform: rotate(deg) scaleX(1.1) scaleY(0.6) translateY(200px);
  position: relative;
  z-index: -10;
}

body {
  margin: 0;
}

.body {
  overflow: hidden;
  height: 2500px;
}

.h1-text {
  font-size: 50px;
  font-family: DoppioOne;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 350px;
  text-shadow: 8px 10px 15px rgba(0, 0, 0, 0.5);
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  font-family: DoppioOne;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s;
}

.dropbtn:hover {
  cursor: pointer;
  font-size: 18px;
}

.drop-text {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s;
}

.drop-text:hover {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-family: DoppioOne;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 2s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*2 bokse øverst*/
.gram-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  width: calc(100% - 50px);
}

.gram-pack{
    position: absolute;
    top: 700px;
    width: 60vw;
    left: 50%;
    transform: translate(-50%, 0);
}

.gram-box {
    padding: 18px;
    height: 25vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 11px 15px 41px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 11px 15px 41px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 15px 41px -4px rgba(0, 0, 0, 0.75);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.title {
  font-family: DoppioOne;
  margin-bottom: 2px;
}

/*Information om transkribering*/
.trans-info{
  position: absolute;
  top: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.info-obj{
  height: 300px;
  width: 300px;
  background-color: red;
  margin: 10px;
  border-radius: 10px;
}

.footer {
  height: 200px;
  background-color: #639560;
  padding-top: 50px;
  box-shadow: 0px 25px 36px -22px rgba(0, 0, 0, 0.91) inset;
  -webkit-box-shadow: 0px 25px 36px -22px rgba(0, 0, 0, 0.91) inset;
  -moz-box-shadow: 0px 25px 36px -22px rgba(0, 0, 0, 0.91) inset;
}

@media (max-width: 900px) {
  body {
    background-color: red;
  }
}
